<p id="start">A short time ago on the planet earth &hellip;</p>

<h1>SPACE WARS<sub>ludum dare 34</sub></h1>

<div id="titles"><div id="titlecontent">

  <p class="center">LUDUMDARE34<br />GROWING, TWO BUTTON CONTROLS</p>

  <p>This is a LudumDare 34 jam entry. You are a Star Destroyer commander (yes, almost Dart Vader). Goal of the game is to build and improve your space ship, grow your army and attack other player.</p>

  <p>To succeed against players in all around world you have to aggressively build factories to gather resources for fighter ship building.</p>

  <p>The game rely on your browser cookies so don't disable them, thank you. Enjoy!</p>

</div></div>