<!DOCTYPE html>
<html>
<head>
  <title>SpaceWars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
      <a class="navbar-brand" href="/cities/1">Space Wars</a>
    </div>
    <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
    <div id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/intro">Instruction</a></li>
        <li><a href="/cities/1">My Ship</a></li>
        <li><a href="/cities">Leaderboard</a></li>
        <li><a href="http://www.ludumdare.com">LudumDare34</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
